@media only screen and (max-width: 900px) and (min-width: 680px) {
  html {
    font-size: 1rem;
  }
  #navbar nav {
    padding: 1rem 2.5rem;
    display: flex;
    align-items: center;
  }
  .checkbtn {
    /* font-size: 36px;
        color: var(--apple-green);
        float: right;
        line-height: 80px;
        margin-right: 40px; */

    cursor: pointer;
  }

  #check {
    display: none;
  }

  .checkbtn {
    /* display: block; */
    /* position: absolute;
        right: 0px; */
  }

  .menu-list {
    gap: 1rem;
  }

  .nav-subs {
    color: var(--black);
  }
  .menu-list li {
    display: block;
    margin: 15px 0;
    line-height: 30px;
  }

  .menu-list li a {
    text-decoration: none;
  }
  .menu-list li a:hover,
  a.active {
    color: var(--apple-green);
    text-decoration: underline;
    border-bottom: 0px solid #7e7c7c;
  }

  #check:checked ~ ul {
    z-index: 999;
    left: 0;
    top: 90px;
  }
  .nav-ul-social {
    display: none !important;
  }

  .name span {
    font-size: 3rem;
  }

  #intro {
    padding: 0 3rem;
    gap: 3rem;
    /* height: 100vh; */
  }

  /* #intro h2 {
    font-size: 2.5rem;
  } */
  .intro-img {
    width: 50vw;
  }

  #about {
    padding: 2rem 2rem 4rem 2rem;
  }
  .about-main {
    flex-wrap: wrap !important;
  }
  .about-container {
    padding: 1.5rem;
  }
  .about h2 {
    font-size: 36px;
  }
  .post-heading {
    font-size: 28px !important;
  }

  .cta-heading {
    font-size: 24px;
  }
  .cta-text {
    font-size: 18px;
  }
  .cta-button {
    padding: 0.8rem 1rem;
    font-size: 18px;
  }
  .post-section {
    padding: 2rem;
  }
  .post-section h2 {
    font-size: 36px;
  }
  .wp-posts {
    padding: 0 40px;
  }
  .contact {
    padding-left: 10px;
    gap: 1rem;
  }
  .contact-text {
    padding: 1rem;
  }
  .contact-text h2 {
    text-align: left;
    font-size: 36px;
  }

  .last-new {
    margin: 0 5rem;
  }

  .contact-form {
    overflow: hidden;
  }
  .subscription-box input {
    width: 55vw;
  }
  /* utilities */
  .font-extra-large {
    font-size: 1.5rem;
  }
  .font-large {
    font-size: 1.3rem;
    margin: 0;
  }
  .font-medium {
    font-size: 1rem;
  }
  .font-mid-mid-medium {
    font-size: 0.9rem;
  }
  .font-mid-medium {
    font-size: 0.7rem;
  }
  .font-normal {
    font-size: 0.75rem;
  }
  .font-small {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 680px) {
  html {
    font-size: 1.3rem;
  }
  nav {
    padding: 1rem;
    display: inline-flex;
    align-items: center;
  }

  .checkbtn {
    /* font-size: 32px;
        color: var(--apple-green);
        float: right;
        line-height: 80px;
        margin-right: 40px; */

    cursor: pointer;
  }

  #check {
    display: none;
  }

  .checkbtn {
    display: block;
    /* position: absolute;
        right: 0px; */
  }

  .menu-list {
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--white);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    padding-top: 70px;
  }

  .nav-subs {
    color: var(--black);
  }
  .menu-list li {
    display: block;
    margin: 15px 0;
    line-height: 30px;
  }

  .menu-list li a {
    font-size: 20px;
    color: #7e7c7c;
    text-decoration: none;
  }
  .menu-list li a:hover,
  a.active {
    color: var(--apple-green);
    text-decoration: underline;
    border-bottom: 0px solid #7e7c7c;
  }

  #check:checked ~ ul {
    z-index: 999;
    left: 0;
    top: 60px;
    gap: 1rem;
  }
  .nav-ul-social {
    display: none !important;
  }

  .logo {
    font-size: 20px;
  }

  /* .logo-img {
    width: 28px;
  } */

  .name span {
    font-size: 28px;
  }

  #intro {
    padding: 0 1rem;
    gap: 0;
    /* height: 100vh; */
  }
  .blog-link {
    padding: 10px;
    font-size: 16px;
  }

  /* #intro h2 {
    font-size: 20px;
  } */
  .intro-img {
    display: none;
  }

  #about {
    padding: 2rem 1rem 4rem 1rem;
  }
  .about-main {
    flex-wrap: wrap;
  }
  .about h2 {
    font-size: 28px;
  }
  .about-content h3 {
    font-size: 24px;
  }

  .about-container {
    padding: 1.5rem;
  }

  .cta-heading {
    font-size: 24px;
  }
  .cta-text {
    font-size: 18px;
  }
  .cta-button {
    padding: 0.8rem 1rem;
    font-size: 18px;
  }
  .post-section {
    padding: 2rem 1rem;
  }
  .post-section h2 {
    font-size: 28px;
  }
  .post-heading {
    font-size: 24px !important;
  }
  .wp-posts {
    padding: 0;
    grid-gap: 0;
  }
  .contact {
    padding-left: 10px;
    gap: 1rem;
  }

  #contact {
    padding-top: 40px;
  }
  .contact-text {
    padding: 10px;
  }
  .contact-text h2 {
    text-align: left;
    font-size: 28px;
  }
  .contact-text h3 {
    font-size: 24px;
  }

  .last-new {
    /* width: calc(100%-3rem);
    margin: 0 1.5rem;
    height: 200px;
    transform: translateY(6rem); */
    padding: 5vh;
  }
  .last-new div {
    height: 9rem;
  }
  .last-new p {
    font-size: 18px;
  }

  .contact-form {
    overflow: hidden;
  }

  .contact-form img {
    display: none;
  }
  .last-text p {
    padding: 40px 1rem 0 1rem;
    font-size: 16px;
  }
  .subscription-box input {
    width: 80vw;
    height: 50px;
    padding: 0px 18px;
  }
  .subscription-box a {
    padding: 10px 12px;
    top: 3px;
    right: 4px;
  }
  /* utilities */
  .font-extra-large {
    font-size: 1.5rem;
  }
  .font-large {
    font-size: 1.3rem;
    margin: 0;
  }
  .font-medium {
    font-size: 1rem;
  }
  .font-mid-mid-medium {
    font-size: 0.9rem;
  }
  .font-mid-medium {
    font-size: 0.7rem;
  }
  .font-normal {
    font-size: 0.75rem;
  }
  .font-small {
    font-size: 0.5rem;
  }
  /* navbar section */
  #navbar nav {
    padding: 7px 10px;
  }
  .logo {
    font-size: 20px;
  }
  .checkbtn img {
    height: 30px;
    width: 30px;
  }
  /* intro section */

  .intro-text {
    width: 100% !important;
  }
  .rating-details {
    width: 100% !important;
  }
  /* help section */
  .help {
    margin: 2rem 2rem;
  }
  .help-clients {
    flex-direction: column;
    gap: 20px;
  }
  .help-clients div {
    width: 100%;
  }
  .clients-img img {
    height: 65px;
    width: 75px;
  }
  /* faqs section */
  .faqs-div {
    margin: 0 1rem;
  }
  .faqs-info {
    margin: 0 1rem;
  }

  /* CONTACTS PAGE */

  /* contact-details */
  .contact-details {
    flex-direction: column;
  }
}
