@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

:root {
  --color-primary: #a852a3;
  --font-size: 1.3rem;
  --deep-saffron: #ff9933;
  --pink: #ff6ac2;
  --mono: Montserrat, monospace;
  --sans: Poppins, sans-serif;
  --white: #fff;
  --black: #000000;
  --font-head: Montserrat, monopsace;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
}
body {
  margin: 0px;
  padding: 0px;
  font-size: var(--sans);
  background-color: var(--white);
  color: var(--black);
  font-size: var(--font-size);
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--earth-green);
  text-decoration: none;
}
.font-ss {
  font-family: sans-serif, monospace;
}

nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem 4rem;
}

#navbar {
  font-size: var(--font-size);
  /* position: fixed; */
  top: 0;
  background-color: var(--white);
  width: 100%;
  z-index: 99999;
}
#navbar nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 65px;
}
.checkbtn {
  font-size: 30px;
  color: var(--color-primary);
  float: right;
  line-height: 80px;
  /* margin-right: 40px; */

  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.menu-list {
  list-style-type: none;
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 2rem;
}

.logo {
  display: flex;
  font-size: 22px;
  font-family: var(--mono);
  font-weight: 500;
  color: var(--color-primary);
  /* margin: 12px 6vw; */
  padding: 6px;
  align-items: center;
}

.logo h1 a {
  color: var(--black);
  font-family: var(--mono);
  text-decoration: none;
}

.logo h1 a:hover {
  color: var(--color-primary);
}

nav h1 a {
  color: var(--black);
  font-family: var(--sans);
}

nav h1 a i {
  color: var(--color-primary);
  /*   font-size: 150%; */
}

nav h1 a i:hover {
  color: var(--earth-green);
}

#nav-signup {
  color: white;
}

nav [class*='bxl-'] {
  font-size: 150%;
}

nav h1 [class*='bxl-'] {
  font-size: 100%;
}

.nav-ul-social {
  display: inline-block;
}

.menu-list li a {
  text-decoration: none;
  color: var(--black);
  display: block;
  font-weight: 600;
}

.menu-items:hover {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.sr-only {
  display: none;
}

/* nav li:last-child {
  padding: 0.7rem;
  background-color: var(--color-primary);
  color: var(--white);
  border-radius: 5%;
  font-weight: 600;
  transition: background-color 0.3s ease;
} */

nav li:last-child:hover {
  background-color: var(--black);
  color: var(--white);
}

nav li [class='nav-btn'] {
  font-weight: 600;
  /*   color:var(--white); */
}

nav li [class='nav-btn']:hover {
  color: var(--white);
}

.logo-img {
  /* width: 35px; */
  /* border-radius: 50px; */
}

.logo-img span {
  font-weight: 600;
  font-family: var(--font-head);
}

#intro {
  padding: 0 5rem;
  margin: 0 0;
  display: flex;
  flex-direction: row;
  gap: 6rem;
}

#intro .intro-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 50%;
  margin: 20px 0;
}

.blog-link {
  padding: 12px 24px;
  font-family: var(--font-head);
  font-size: 18px;
  background-color: var(--color-primary);
  color: var(--white);
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.blog-link:hover {
  background-color: var(--black);
  color: var(--white);
}

#intro p {
  /* font-size: 20px; */
  line-height: 1.5;
}

#intro .name {
  font-family: --var(mono);
}

.name span {
  font-size: 2.2rem;
  display: block;
  font-family: var(--sans);
  color: var(--color-primary);
}

#intro h2 {
  /* font-size: 2.5rem; */
  font-weight: normal;
}

.intro-img {
  width: 40vw;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-image: url(/static/img/nyaySarathiHome.webp);
  background-size: contain;
  background-repeat: no-repeat;
}

.back-img-box {
  width: 50%;
  height: 50%;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.home-wave {
  display: block;
  position: relative;
  height: 40px;
  width: 100%;
  background: rgb(57, 27, 112);
  transform: scale(1, 1);
}

.home-wave:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: white;
  right: -25%;
  top: 20px;
}

.home-wave:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: rgb(57, 27, 112);
  left: -25%;
  top: -240px;
  clip-path: ellipse(100% 15% at -15% 100%);
}

#about {
  width: calc(100%-8rem);
  padding: 4rem 4rem 6rem 4rem;
  background-color: var(--color-primary);
  height: auto;
}

.about h2 {
  font-family: var(--font-head);
  font-size: 42px;
  color: var(--black);
  /* padding: 12px 0; */
}

.about-main {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  padding: 3rem;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-img img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
}

.cta-section {
  background-color: var(--white);
  text-align: center;
  /* padding: 4rem 0; */
  border-top: 1px solid var(--white);
  margin-top: 3rem;
  border-radius: 10px;
  padding: 3rem 1rem;
}

.cta-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--black);
  /* font-family: var(-); */
  font-size: 28px;
}

.cta-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #777;
  font-family: var(--sans);
}

.cta-button {
  display: inline-block;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  background-color: var(--deep-saffron);
  color: var(--white);
  border: none;
  border-radius: 5px;
  margin: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: var(--color-primary);
  color: var(--black);
}

.gradient {
  height: 2px;

  background: linear-gradient(
    90deg,
    rgba(255, 153, 51, 1) 0%,
    rgba(141, 182, 0, 1) 100%
  );
}

.post-section {
  height: auto;
  /* background-color: var(--almond); */
  padding: 2rem 4rem;
  width: calc(100%-8rem);
  /* overflow:hidden; */
}

.post-section h2 {
  font-family: var(--font-head);
  font-size: 42px;
  color: var(--black);
  padding: 12px 0;
}

.post-section h2 span {
  color: var(--color-primary);
}

.wp-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(359px, auto));
  grid-gap: 20px;
  padding: 0 20px;
}

.post-preview {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  margin: 3rem 0.2rem;
  border: 1px solid #ccc;
  padding-bottom: 3rem;
}

.post-preview:hover {
  box-shadow: 8px 5px 7px #ccc;
}

.post-preview:hover img {
  transform: scale(1.1);
}

.post-preview img {
  width: 100%;
  transition: transfrom 0.3 ease;
}

.post-preview h2 {
  font-family: var(--mono);
  font-size: 24px;
  padding: 12px 10px;
}

.post-preview p {
  font-family: var(--sans);
  font-size: 18px;
  padding: 0 6px;
}

.read-more {
  display: none;
}

.read-more-link {
  padding: 10px;
  background: var(--color-primary);
  color: var(--black);
  border-radius: 7px;
  /* letter-spacing: 1px; */
  position: relative;
  top: 12px;
  left: 12px;
  font-size: 18px;
  /* font-family:'Courier New', Courier, monospace; */
  transition: background-color 0.3 ease;
}

.read-more-link:hover {
  /* box-shadow: 0 0 25px var(--color-primary); */
  background-color: var(--black);
  color: var(--white);
}

#contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 0;
  gap: 15vh;
}
/* 
#contact a {
  padding: 12px;

  border-radius: 50%;
} */

#contact p:last-child {
  margin-top: 3rem;
}

.contact-text {
  padding: 0 1.5rem;
}

.contact-text h2 {
  font-size: 52px;
  line-height: 1;
  text-align: center;
  color: var(--black);
  margin-bottom: 30px;
}

.contact-text h2 span {
  color: var(--color-primary);
}

.contact-text h4 {
  margin: 15px 0;
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
}

.contact-text p {
  font-size: 16px;
  color: var(--black);
  line-height: 30px;
  margin-bottom: 2rem;
}

.contact-list {
  margin-bottom: 3rem;
}

.contact-list ul {
  list-style-type: none;
  color: var(--black);
}

.contact-list li {
  margin-bottom: 10px;
}

/* .contact a:hover {
  transform: scale(1.01) translateY(-5px);
  color: #081b29;
} */
.contact-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
/* .contact-form img{
  height: 200px;
} */
.contact-form form {
  position: relative;
}

.contact-links {
  display: flex;
  justify-content: center;
  margin: 2vh 2vw;
}

.contact-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin: 6px 15px 6px 0;
}

.contact-links a:hover {
  background: white;
  color: black;
  box-shadow: 0 0 20px var(--color-primary);
  transform: scale(1.01) translateY(-4px);
}

footer {
  height: auto;
}

.last-text {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  height: 240px;
}

.last-text p {
  width: 100%;
  text-align: center;
  padding: 45px 0;
  /* background: rgb(7, 85, 91); */
  font-weight: 500;
  margin-top: 0px;
  letter-spacing: 1.5px;
  color: var(--white);
  margin-bottom: 0px;
  font-size: 18px;
  position: relative;
  top: 120px;
}

/* .last-new {
  width: calc(100%-20rem);
  margin: 0 10rem;
  background-color: var(--deep-saffron);
  height: 250px;
  border-radius: 40px;
  position: relative;
  z-index: 999;
  transform: translateY(8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: var(--sans);
} */
.last-new {
  display: flex;
  background: linear-gradient(180deg, white 33%, black 0.1%, black 67%);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 6vh;
  padding: 5vh 0;
  margin: 5vh 0 0;
}
.last-new div {
  display: flex;
  width: 75vw;
  background-color: #ff9933;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 40px;
  height: 40vh;
  justify-content: center;
  gap: 2vh;
}
/* .subscription-box {
  display: flex;
  background: white;
  border-radius: 50px;
} */

.subscription-box input {
  width: 40vw;
  font-size: 18px;
  height: 60px;
  padding: 0 24px;
}
.subscription-box input {
  border: 0px solid var(--deep-saffron);
  border-radius: 50px;
  font-size: 18px;
}

/* .subscription-box a {
  background-color: var(--color-primary);
  color: white;
  border-radius: 25px;
  padding: 12px 24px;
} */
.subscription-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscription-box a {
  background-color: var(--color-primary);
  color: var(--white);
  padding: 12px 24px;
  border-radius: 25px;
  font-family: var(--mono);
  position: relative;
  bottom: 53px;
  left: 284px;
  transform: translateX(-100px);
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.subscription-box a:hover {
  background-color: var(--black);
  color: var(--white);
}

.ad-link {
  color: var(--deep-saffron);
  /* text-decoration: none; */
}

.ad-link:hover {
  text-decoration: none;
  color: var(--white);
}

.top {
  position: fixed;
  right: 2.2rem;
  bottom: 2.2rem;
  box-shadow: 0 0 5px var(--white);
}

.top i {
  color: #000000;
  /* background: #0ef; */
  background-color: var(--color-primary);
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
}

#heart {
  color: var(--deep-saffron);
}

/* css 2  */
* {
  box-sizing: border-box;
  /* font-family: 'Sometype Mono', monospace; 
  font-size: 1rem; */
  /* font-family: 'Montserrat', sans-serif; */
}
.font-extra-large {
  font-size: 3rem;
}
.font-large {
  font-size: 2rem;
  margin: 0;
}
.font-medium {
  font-size: 1.5rem;
}
.font-mid-medium {
  font-size: 1.25rem;
}
.font-mid-mid-medium {
  font-size: 1.1rem;
}
.font-normal {
  font-size: 1rem;
}
.font-small {
  font-size: 0.8rem;
}
.font-we-medium {
  font-weight: bold;
}
.font-we-heavy {
  font-weight: bolder;
}
.font-primary {
  color: var(--color-primary);
}
.line {
  height: 1px;
  background-color: var(--color-primary);
  content: ' ';
  margin: 10px 0 5px;
}
.btn {
  background-color: var(--color-primary);
  color: white;
  border-radius: 4px;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  &:hover {
    background-color: var(--black);
    color: white;
  }
}
.btn-border {
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  &:hover {
    background-color: var(--color-primary);
    color: white;
  }
}

/* navbar */
.nav {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo span {
  color: var(--color-primary);
  font-weight: normal;
  font-size: 2.5rem;
  text-shadow: 0px 3px darkgray;
}
.routes {
  display: flex;
  gap: 40px;
  align-items: center;
}
.routes a {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 7px;
}
.routes a span {
  font-size: 1rem;
  text-align: center;
  color: black;
  /* font-weight: bold; */
}

/* pagefront */
.page-front {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;
}
/* .page-front .left {
    display: flex;
    flex-direction: column;
  } */
.page-front .heading-large {
  width: 290px;
}
.page-front a {
  text-align: center;
}
.heading-small {
  width: 230px;
}
.content-section .rating-details {
  display: flex;
  background-color: var(--color-primary);
  color: white;
  justify-content: space-around;
  margin: 30px 0;
  border-radius: 5px;
  width: 30vw;
}
.rating-details p {
  margin: 15px 0;
  text-align: center;
}

/* help section */
.help {
  display: flex;
  flex-direction: column;
  margin: 3rem 5rem;
}
.help-heading {
  margin: 0 0 8vh 0;
}
.help-clients {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.help-clients div {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  width: 23vw;
  padding: 20px 20px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  gap: 15px;
  letter-spacing: 0.5px;
  box-shadow: -1px 4px 10px 6px #c1c1c1;

  /* &:hover {
    transform: scale(1.1);
  } */
}
.help-details {
  box-shadow: #9e9d9d 0px 4px 8px 10px;
  background-color: white;
  padding: 30px;
  position: absolute;
  top: 100vh;
  left: 0;
  margin: 0 14vh;
  display: none;
  border-radius: 20px;
  transition: all 0.5s linear;
}
.help-details:first-child {
  overflow-y: scroll;
}
.clients-img {
  display: flex;
  justify-content: space-around;
}
.clients-img div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clients-img img {
  height: 110px;
  width: 120px;
}
/* aim section */
.aim {
  display: flex;
  flex-direction: column;
  margin: 90px 100px;
}
.aim-heading {
  display: flex;
  align-items: center;
}
.aim-content {
  display: flex;
  margin: 30px 0;
  justify-content: space-around;
}
.aim-content div {
  max-width: 500px;
  letter-spacing: 1px;
  line-height: 25px;
}

/* faqs section */
.faqs-section {
  display: flex;
  flex-direction: column;
  margin: 20vh 0 0;
  gap: 35px;
}
.faqs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.faqs-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 4px solid var(--color-primary);
  margin: 0 5rem;
  padding: 3px 10px;
  border-radius: 30px;
}
.faqs-info {
  display: none;
  border: 4px solid #ff9933;
  margin: 0 5rem;
  padding: 10px 15px;
  border-radius: 0 0 30px 30px;
  transition: all 1s ease-in;
  transform: translate(0, -175px);
}
.faqs-div div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.faqs-div img {
  height: 40px;
  width: 40px;
}
.btn-rotate {
  height: 20px !important;
  transition: all 0.2s linear;
}

/*  btn animation */
.rotate {
  transform: rotate(90deg);
}
/* show class */
.show {
  display: flex;
  transform: translate(0px, 0px);
}
/* contact part */
.contact-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27vh;
}
#contact::before {
  content: ' ';
  background: url('/static/img/contact\ background.png') no-repeat fixed center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}
.contact-main h1 {
  display: flex;
  align-items: center;
  color: #3719a7;
}
.contact-details {
  /* opacity: -1; */
  display: flex;
  gap: 20px;
  justify-content: center;
}
.contact-box {
  display: flex;
  flex-direction: column;
  background: rgba(128, 0, 128, 0.505);
  color: white;
  border-radius: 4px;
  align-items: center;
  max-width: 400px;
  min-width: 300px;
  padding: 1rem 1rem;
}
.contact-box img {
  height: 60px;
  width: 60px;
  position: relative;
  top: -50px;
}
.contact-form img {
  height: 300px;
  width: 450px;
}
.contact-form .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.contact-form form input {
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  background-color: #f7efff;
  width: 27vw;
  height: 6vh;
}
.contact-form form div {
  display: flex;
  flex-direction: column;
}
