{% extends "base.html" %}

{% load static %}

{% block title %} Contact {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock head %}

{% block main %}
    <h1>Hi! Welcome to Contact page?  </h1>
    <section id="contact" class="contact content-section">


        <div class="contact-text">
            <h2 class="font-head">Contact <span>Me</span></h2>
            <!-- <h4 class="font-head">Let's Get In Touch</h4> -->
            <h3><i class='bx bxs-quote-alt-left'></i> ॐ सर्वे भवन्तु सुखिनः  <i class='bx bxs-quote-alt-right' ></i></h3>
            <p class="font-ss">
                <b>Do you recognize the significance of an Ayurvedic lifestyle?</b><br>
                By adopting the principles of Ayurveda, we can take a step towards a life filled with balance,
                vitality, and harmony. Join me on this journey of discovering the treasures of natural healing and
                holistic well-being.
            </p>

            

            <div class="contact-list">
                <ul>
                    <li><i class='bx bxs-send'></i>jyoti@onionreads.com</li>
                    <li><i class='bx bxs-phone'></i>+91-XXXXXXXXX</li>
                </ul>


            </div>


            <div class="contact-links">
                <a target="_blank" href="#"><i
                        class='bx bxl-linkedin'></i></a>

                <a target="_blank" href="https://www.instagram.com/its_peachpie/"><i class='bx bxl-instagram'></i></a>

                <a target="_blank" href="#"><i class='bx bxl-youtube'></i></a>

                <a target="_blank" href="#"><i
                        class='bx bxl-facebook'></i></a>

                <a target="_blank" href="#"><i class='bx bxl-twitter'></i></a>



            </div>

        </div>

        <div class="contact-form">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSek0oN0Otsks6bsRk5oZKOiZyA_jrT77PQNOvF3TpJnpY2LQw/viewform?embedded=true"
                width="644" height="411" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>



            </form>
        </div>


        <a href="#" class="top"> <i class='bx bx-up-arrow-alt'></i></a>

    </section>


{% endblock main %}

{% block script %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock script %}