{% extends "base.html" %}

{% load static %}

{% block title %} Contact {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock head %}

{% block main %}

<section id="contact" class="contact content-section">
    <div class="contact-main">
        <h1 class="font-extra-large"><img src="{% static 'img/communicate.png'%}" alt="communicate-icon">Connect with us
        </h1>
        <div class="contact-details">
            <div class="contact-box"><img src="{%static 'img/Email.png' %}" alt="Email-icon">
                <span class="font-medium">solveaseofficial@gmail.com</span>
                <span class="font-medium">solveaseunofficial@gmail.com</span>
            </div>
            <div class="contact-box"><img src="{%static 'img/WhatsApp.png' %}" alt="WhatsApp-icon">
                <span class="font-medium">91XXXXXXXXX</span>
                <span class="font-medium">91XXXXXXXXX</span>
                <span class="font-medium">91XXXXXXXXX</span>
            </div>
            <div class="contact-box"><img src="{%static 'img/profile-icon.png' %}" alt="profile-icon"></div>
        </div>
    </div>


    </div>

    <div class="contact-form">
        <div class="form">
            <h1>Contact us :</h1>
            <form action="">
                <div><label for="name">Name:</label>
                    <input type="text">
                </div>
                <div><label for="phone no.">Phone no.</label>
                    <input type="text">
                </div>
                <div><label for="Email">Email</label>
                    <input type="text">
                </div>
                <div><label for="message">Message</label>
                    <input type="text">
                </div>
                <a class="btn">Send</a>
            </form>
        </div>
        <div><img src="{% static 'img/contact-img.png'%}" alt="contact-img"></div>
    </div>

    <a href="#" class="top"> <i class='bx bx-up-arrow-alt'></i></a>

</section>


{% endblock main %}

{% block script %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock script %}