{% extends "base.html" %}

{% load static %}
{% block title %}Home{% endblock title %}
{% block head %}
<head>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <!-- <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script> -->

</head>

{% endblock head %}

<body>
    
    {% block main %}

    <main>
        <section id="intro" class="content-section">

            <div class="intro-text">
                <p class="name">Welcome to <span> NyaySarathi </span></p>
                <h2>Your Personal assitant to Simplified Laws and Justice!</h2>

                <!-- <p>I'm a student specializing in Ayurvedic Medical Sciences.
                <p> -->
                <p> Get answers to your legal questions, and access the right guidance with our <a  href="/vidura">Vidura</a> digital assistant.</p>
                <a class="blog-link"  href="/vidura">Vidura Chatbot<i
                        class='bx bxs-chevron-right'></i></a>



            </div>

            <div class="intro-img">
                <!-- <div class="back-img-box">

                </div> -->
                <!-- <img src="/img/jyoti-maurya-transformed-new.png" alt="Jyoti Maurya"> -->
            </div>



        </section>
        <div class="gradient">

        </div>
        
        <div class="gradient">

        </div>
        <!-- <div class="home-wave">

        </div> -->
        <section id="about" class="about content-section">
            <h2>About <span>Me</span></h2>
    
            <div class="about-main">
    
                <div class="about-container">
                    <div class="about-img">
                        <img src="/img/jyoti-maurya-lite.webp" alt="Jyoti Maurya - Ayurvedic Medical Science sasayurveda">
                    </div>
                    <div class="about-content">
                        <h3>Hi, I'm Jyoti Maurya</h3>
                        <p>I'm a dedicated student specializing in Ayurvedic Medical Sciences at SAS Ayurvedic Medical
                            College in Varanasi.</p>
                        <p>My passion lies in exploring the ancient wisdom of Ayurveda and sharing it with the world. I
                            believe in the power of natural healing and holistic wellness.</p>
                        <p>Join me on this journey of discovery and well-being!</p>
                    </div>
                </div>
                <div class="cta-section">
                    <div class="about-img">
                        <img src="/img/yoga-green-2.jpg" alt="Jyoti Maurya - Ayurvedic Medical Science sasayurveda">
                    </div>
                    <h3 class="cta-heading">Join the Ayurveda Revolution</h3>
                    <p class="cta-text">Are you ready to embrace a life of balance, vitality, and harmony? Let's embark
                        on this transformative journey together.</p>
                    <a class="cta-button" href="#contact">Connect with Me <i class='bx bx-envelope'></i></a>
                    <a class="cta-button" target="_blank" href="https://ayurupchar.onionreads.com/">Explore Blog <i
                            class='bx bxs-book'></i></a>
                </div>
    
            </div>
    
    
    
    
    
    
        </section>
        <section class="post-section content-section" id="blog">

            <h2>Latest <span>Posts</span></h2>
            <div id="wp-posts" class="wp-posts">

            </div>
        </section>

        <div class="gradient">

        </div>



        
    </main>
    {% endblock main %}

    {% block script %}
    {% comment %} <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script> {% endcomment %}
    <script src="js/script.js"></script>
    {% endblock script %}

</body>

</html>