{% extends "base.html" %}

{% load static %}
{% block title %}Home{% endblock title %}
{% block head %}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script> -->

</head>

{% endblock head %}

<body>

    {% block main %}

    <main>
        <section id="intro" class="content-section">

            <div class="intro-text">
                <p class="name font-mid-medium">Welcome to <span class="font-large"> NyaySarathi </span></p>
                <h2 class="font-extra-large">Your Personal assitant to Simplify Law and Justice!</h2>
                <p class="font-mid-medium"> Get answers to your legal questions, and access the right guidance with our
                    <a href="/login">Vidura</a> digital assistant.
                </p>
                <div class="rating-details">
                    <div>
                        <p class="font-medium">1.2M</p>
                        <p class="font-medium">Users</p>
                    </div>
                    <div>
                        <p class="font-medium">5K+</p>
                        <p class="font-medium">Lawyers</p>
                    </div>
                    <div>
                        <p class="font-medium">50K+</p>
                        <p class="font-medium">Students</p>
                    </div>
                    <div>
                        <p class="font-medium">4.0</p>
                        <p class="font-medium">Rating</p>
                    </div>
                </div>
                <a class="font-we-medium font-normal   btn-border" href="/login">Vidura Chatbot<i
                        class='bx bxs-chevron-right'></i></a>
            </div>

            <div class="intro-img">
            </div>



        </section>
        <section class="help">
            <p class="font-medium font-we-medium help-heading">How we can help you :</p>
            <div class="help-clients">
                <article>
                    <div>
                        <span>
                            <p class="font-we-medium font-medium">Students</p>
                            <p class="line">
                            </p>
                        </span>
                        <span class="font-normal">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laboriosam modi dolores
                            recusandae,
                            perferendis quas ratione? Officia ratione quod fugit consequuntur, mollitia a impedit
                            corporis
                            provident? Dicta ea dolorum saepe aliquam a non aperiam vel fugiat numquam quidem? Neque
                            obcaecati
                            minima nostrum eos alias natus? Exercitationem et voluptates facere atque.
                        </span>
                        <span class="btn font-normal help-btn" name="students">Learn More</span>
                    </div>
                    <span class="help-details">

                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus facere minus, impedit
                            soluta
                            veritatis fugiat maxime aspernatur? Debitis iusto, veritatis cum velit harum sequi ut error
                            dolor
                            accusamus molestias non suscipit id consequuntur commodi nesciunt omnis placeat voluptatibus
                            laborum
                            aspernatur neque sint molestiae recusandae. Perspiciatis alias modi corrupti officia omnis
                            odio,
                            suscipit tenetur commodi nemo perferendis recusandae pariatur hic fugiat iusto, consequuntur
                            inventore corporis magni molestias, eaque possimus expedita. Molestias, ullam ad harum porro
                            tempora
                            libero incidunt non iusto tempore cupiditate? Non dolore voluptate pariatur asperiores,
                            laboriosam
                            officia velit dolores consectetur reiciendis tempora, saepe sed dolor cumque eaque ad.
                            Asperiores,
                            dolorem illo laudantium magni eum aliquid, officia, perspiciatis laboriosam maiores itaque
                            ducimus
                            voluptatum quis reiciendis! Veritatis alias nostrum cum dolor est cupiditate. Nihil nulla
                            eum
                            laboriosam minima unde! Omnis inventore et obcaecati, dignissimos blanditiis magnam pariatur
                            necessitatibus unde earum, quibusdam repellat nam voluptatibus nulla exercitationem nostrum?
                            Quasi
                            alias amet tempore, voluptates ea dolor nisi maxime sapiente, excepturi, officia molestiae!
                            Perferendis et id repudiandae eius vitae asperiores voluptate saepe praesentium
                            exercitationem quo
                            accusamus enim quos libero porro consequuntur alias sapiente dolorem ratione aliquam
                            aspernatur,
                            doloremque esse debitis? Ipsa quod nobis laboriosam aut sequi? Minima eaque sunt accusantium
                            repellendus saepe sed fuga blanditiis iusto iure? Tenetur temporibus quo provident
                            consectetur, non
                            nulla vero odit quae repellendus ipsam, esse excepturi placeat sapiente minima laudantium
                            dolorem
                            vel! Maxime a, esse soluta ipsa rerum porro sequi nobis neque vitae perspiciatis! Sunt
                            voluptatum
                            expedita velit cupiditate, inventore ipsum eius unde incidunt, hic officiis itaque aliquam,
                            deserunt
                            et magnam quam ab veniam. Ducimus ipsum aspernatur voluptate corporis pariatur eligendi
                            numquam aut
                            beatae esse quaerat eveniet illum voluptates quia reiciendis, neque possimus a eius nisi
                            quam,
                            sapiente fuga. Consectetur pariatur unde deserunt inventore, cum voluptatum. Quas commodi
                            eius
                            voluptatem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi iusto id
                            architecto obcaecati ipsam facilis quis omnis eius laudantium maiores repudiandae voluptatum
                            nihil, laboriosam aspernatur cupiditate aut odio magnam nulla deleniti minima sint
                            repellendus. Aperiam pariatur repudiandae suscipit molestiae, ipsam quod labore porro cumque
                            asperiores optio laborum quis autem mollitia provident fugit dolorum quam eos officiis ex
                            quae qui veritatis. Dolorem, vitae sit. Eligendi quaerat ipsa optio ipsum saepe molestiae
                            doloremque veritatis facilis accusamus iusto corrupti, vero eveniet quos perspiciatis aut
                            quibusdam repudiandae quia pariatur quam eaque aperiam deserunt quod ipsam. Velit quis
                            veritatis temporibus id saepe sit provident doloribus. </span>
                        <span class="x-btn"><i class="bx bx-x"></i></span>
                    </span>
                </article>
                <article>
                    <div>
                        <span>
                            <p class="font-we-medium font-medium">Lawyers</p>
                            <p class="line">
                            </p>
                        </span>
                        <span class="font-normal">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laboriosam modi dolores
                            recusandae,
                            perferendis quas ratione? Officia ratione quod fugit consequuntur, mollitia a impedit
                            corporis
                            provident? Dicta ea dolorum saepe aliquam a non aperiam vel fugiat numquam quidem? Neque
                            obcaecati
                            minima nostrum eos alias natus? Exercitationem et voluptates facere atque.
                        </span>
                        <span class="btn font-normal help-btn">Learn More</span>
                    </div>
                    <span class="help-details">

                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus facere minus, impedit
                            soluta
                            veritatis fugiat maxime aspernatur? Debitis iusto, veritatis cum velit harum sequi ut error
                            dolor
                            accusamus molestias non suscipit id consequuntur commodi nesciunt omnis placeat voluptatibus
                            laborum
                            aspernatur neque sint molestiae recusandae. Perspiciatis alias modi corrupti officia omnis
                            odio,
                            suscipit tenetur commodi nemo perferendis recusandae pariatur hic fugiat iusto, consequuntur
                            inventore corporis magni molestias, eaque possimus expedita. Molestias, ullam ad harum porro
                            tempora
                            libero incidunt non iusto tempore cupiditate? Non dolore voluptate pariatur asperiores,
                            laboriosam
                            officia velit dolores consectetur reiciendis tempora, saepe sed dolor cumque eaque ad.
                            Asperiores,
                            dolorem illo laudantium magni eum aliquid, officia, perspiciatis laboriosam maiores itaque
                            ducimus
                            voluptatum quis reiciendis! Veritatis alias nostrum cum dolor est cupiditate. Nihil nulla
                            eum
                            laboriosam minima unde! Omnis inventore et obcaecati, dignissimos blanditiis magnam pariatur
                            necessitatibus unde earum, quibusdam repellat nam voluptatibus nulla exercitationem nostrum?
                            Quasi
                            alias amet tempore, voluptates ea dolor nisi maxime sapiente, excepturi, officia molestiae!
                            Perferendis et id repudiandae eius vitae asperiores voluptate saepe praesentium
                            exercitationem quo
                            accusamus enim quos libero porro consequuntur alias sapiente dolorem ratione aliquam
                            aspernatur,
                            doloremque esse debitis? Ipsa quod nobis laboriosam aut sequi? Minima eaque sunt accusantium
                            repellendus saepe sed fuga blanditiis iusto iure? Tenetur temporibus quo provident
                            consectetur, non
                            nulla vero odit quae repellendus ipsam, esse excepturi placeat sapiente minima laudantium
                            dolorem
                            vel! Maxime a, esse soluta ipsa rerum porro sequi nobis neque vitae perspiciatis! Sunt
                            voluptatum
                            expedita velit cupiditate, inventore ipsum eius unde incidunt, hic officiis itaque aliquam,
                            deserunt
                            et magnam quam ab veniam. Ducimus ipsum aspernatur voluptate corporis pariatur eligendi
                            numquam aut
                            beatae esse quaerat eveniet illum voluptates quia reiciendis, neque possimus a eius nisi
                            quam,
                            sapiente fuga. Consectetur pariatur unde deserunt inventore, cum voluptatum. Quas commodi
                            eius
                            voluptatem </span>
                        <span class="x-btn"><i class="bx bx-x"></i></span>
                    </span>
                </article>
                <article>
                    <div>
                        <span>
                            <p class="font-we-medium font-medium">Users</p>
                            <p class="line">
                            </p>
                        </span>
                        <span class="font-normal">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laboriosam modi dolores
                            recusandae,
                            perferendis quas ratione? Officia ratione quod fugit consequuntur, mollitia a impedit
                            corporis
                            provident? Dicta ea dolorum saepe aliquam a non aperiam vel fugiat numquam quidem? Neque
                            obcaecati
                            minima nostrum eos alias natus? Exercitationem et voluptates facere atque.
                        </span>
                        <span class="btn font-normal help-btn">Learn More</span>
                    </div>
                    <span class="help-details">

                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus facere minus, impedit
                            soluta
                            veritatis fugiat maxime aspernatur? Debitis iusto, veritatis cum velit harum sequi ut error
                            dolor
                            accusamus molestias non suscipit id consequuntur commodi nesciunt omnis placeat voluptatibus
                            laborum
                            aspernatur neque sint molestiae recusandae. Perspiciatis alias modi corrupti officia omnis
                            odio,
                            suscipit tenetur commodi nemo perferendis recusandae pariatur hic fugiat iusto, consequuntur
                            inventore corporis magni molestias, eaque possimus expedita. Molestias, ullam ad harum porro
                            tempora
                            libero incidunt non iusto tempore cupiditate? Non dolore voluptate pariatur asperiores,
                            laboriosam
                            officia velit dolores consectetur reiciendis tempora, saepe sed dolor cumque eaque ad.
                            Asperiores,
                            dolorem illo laudantium magni eum aliquid, officia, perspiciatis laboriosam maiores itaque
                            ducimus
                            voluptatum quis reiciendis! Veritatis alias nostrum cum dolor est cupiditate. Nihil nulla
                            eum
                            laboriosam minima unde! Omnis inventore et obcaecati, dignissimos blanditiis magnam pariatur
                            necessitatibus unde earum, quibusdam repellat nam voluptatibus nulla exercitationem nostrum?
                            Quasi
                            alias amet tempore, voluptates ea dolor nisi maxime sapiente, excepturi, officia molestiae!
                            Perferendis et id repudiandae eius vitae asperiores voluptate saepe praesentium
                            exercitationem quo
                            accusamus enim quos libero porro consequuntur alias sapiente dolorem ratione aliquam
                            aspernatur,
                            doloremque esse debitis? Ipsa quod nobis laboriosam aut sequi? Minima eaque sunt accusantium
                            repellendus saepe sed fuga blanditiis iusto iure? Tenetur temporibus quo provident
                            consectetur, non
                            nulla vero odit quae repellendus ipsam, esse excepturi placeat sapiente minima laudantium
                            dolorem
                            vel! Maxime a, esse soluta ipsa rerum porro sequi nobis neque vitae perspiciatis! Sunt
                            voluptatum
                            expedita velit cupiditate, inventore ipsum eius unde incidunt, hic officiis itaque aliquam,
                            deserunt
                            et magnam quam ab veniam. Ducimus ipsum aspernatur voluptate corporis pariatur eligendi
                            numquam aut
                            beatae esse quaerat eveniet illum voluptates quia reiciendis, neque possimus a eius nisi
                            quam,
                            sapiente fuga. Consectetur pariatur unde deserunt inventore, cum voluptatum. Quas commodi
                            eius
                            voluptatem </span>
                        <span class="x-btn"><i class="bx bx-x"></i></span>
                    </span>
                </article>
            </div>
            <div class="clients-img">
                <div><img src="../static/img/student.png" alt="students">
                    <p class="font-medium">Students</p>
                </div>
                <div><img src="../static/img/lawyer.png" alt="lawyer">
                    <p class="font-medium">Lawyers</p>
                </div>
                <div><img src="../static/img/farmer.png" alt="farmer">
                    <p class="font-medium">Farmers</p>
                </div>
            </div>

            <div class="help-details">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus facere minus, impedit soluta
                    veritatis fugiat maxime aspernatur? Debitis iusto, veritatis cum velit harum sequi ut error dolor
                    accusamus molestias non suscipit id consequuntur commodi nesciunt omnis placeat voluptatibus laborum
                    aspernatur neque sint molestiae recusandae. Perspiciatis alias modi corrupti officia omnis odio,
                    suscipit tenetur commodi nemo perferendis recusandae pariatur hic fugiat iusto, consequuntur
                    inventore corporis magni molestias, eaque possimus expedita. Molestias, ullam ad harum porro tempora
                    libero incidunt non iusto tempore cupiditate? Non dolore voluptate pariatur asperiores, laboriosam
                    officia velit dolores consectetur reiciendis tempora, saepe sed dolor cumque eaque ad. Asperiores,
                    dolorem illo laudantium magni eum aliquid, officia, perspiciatis laboriosam maiores itaque ducimus
                    voluptatum quis reiciendis! Veritatis alias nostrum cum dolor est cupiditate. Nihil nulla eum
                    laboriosam minima unde! Omnis inventore et obcaecati, dignissimos blanditiis magnam pariatur
                    necessitatibus unde earum, quibusdam repellat nam voluptatibus nulla exercitationem nostrum? Quasi
                    alias amet tempore, voluptates ea dolor nisi maxime sapiente, excepturi, officia molestiae!
                    Perferendis et id repudiandae eius vitae asperiores voluptate saepe praesentium exercitationem quo
                    accusamus enim quos libero porro consequuntur alias sapiente dolorem ratione aliquam aspernatur,
                    doloremque esse debitis? Ipsa quod nobis laboriosam aut sequi? Minima eaque sunt accusantium
                    repellendus saepe sed fuga blanditiis iusto iure? Tenetur temporibus quo provident consectetur, non
                    nulla vero odit quae repellendus ipsam, esse excepturi placeat sapiente minima laudantium dolorem
                    vel! Maxime a, esse soluta ipsa rerum porro sequi nobis neque vitae perspiciatis! Sunt voluptatum
                    expedita velit cupiditate, inventore ipsum eius unde incidunt, hic officiis itaque aliquam, deserunt
                    et magnam quam ab veniam. Ducimus ipsum aspernatur voluptate corporis pariatur eligendi numquam aut
                    beatae esse quaerat eveniet illum voluptates quia reiciendis, neque possimus a eius nisi quam,
                    sapiente fuga. Consectetur pariatur unde deserunt inventore, cum voluptatum. Quas commodi eius
                    voluptatem </span>
            </div>
            <div class="help-details">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus facere minus, impedit soluta
                    veritatis fugiat maxime aspernatur? Debitis iusto, veritatis cum velit harum sequi ut error dolor
                    accusamus molestias non suscipit id consequuntur commodi nesciunt omnis placeat voluptatibus laborum
                    aspernatur neque sint molestiae recusandae. Perspiciatis alias modi corrupti officia omnis odio,
                    suscipit tenetur commodi nemo perferendis recusandae pariatur hic fugiat iusto, consequuntur
                    inventore corporis magni molestias, eaque possimus expedita. Molestias, ullam ad harum porro tempora
                    libero incidunt non iusto tempore cupiditate? Non dolore voluptate pariatur asperiores, laboriosam
                    officia velit dolores consectetur reiciendis tempora, saepe sed dolor cumque eaque ad. Asperiores,
                    dolorem illo laudantium magni eum aliquid, officia, perspiciatis laboriosam maiores itaque ducimus
                    voluptatum quis reiciendis! Veritatis alias nostrum cum dolor est cupiditate. Nihil nulla eum
                    laboriosam minima unde! Omnis inventore et obcaecati, dignissimos blanditiis magnam pariatur
                    necessitatibus unde earum, quibusdam repellat nam voluptatibus nulla exercitationem nostrum? Quasi
                    alias amet tempore, voluptates ea dolor nisi maxime sapiente, excepturi, officia molestiae!
                    Perferendis et id repudiandae eius vitae asperiores voluptate saepe praesentium exercitationem quo
                    accusamus enim quos libero porro consequuntur alias sapiente dolorem ratione aliquam aspernatur,
                    doloremque esse debitis? Ipsa quod nobis laboriosam aut sequi? Minima eaque sunt accusantium
                    repellendus saepe sed fuga blanditiis iusto iure? Tenetur temporibus quo provident consectetur, non
                    nulla vero odit quae repellendus ipsam, esse excepturi placeat sapiente minima laudantium dolorem
                    vel! Maxime a, esse soluta ipsa rerum porro sequi nobis neque vitae perspiciatis! Sunt voluptatum
                    expedita velit cupiditate, inventore ipsum eius unde incidunt, hic officiis itaque aliquam, deserunt
                    et magnam quam ab veniam. Ducimus ipsum aspernatur voluptate corporis pariatur eligendi numquam aut
                    beatae esse quaerat eveniet illum voluptates quia reiciendis, neque possimus a eius nisi quam,
                    sapiente fuga. Consectetur pariatur unde deserunt inventore, cum voluptatum. Quas commodi eius
                    voluptatem </span>
            </div>
        </section>
        <section class="faqs-section">
            <div class="faqs">
                <div class="faqs-div">
                    <div>
                        <span> <img src="{% static 'img/Forward-button.png' %}" alt="right-arrow">
                        </span>
                        <span class="font-we-medium font-mid-mid-medium">
                            How does NyaySarthi help in spreading Legal Awareness?
                        </span>
                    </div>
                    <span><img class="btn-rotate" src="{% static 'img/right-arrow.svg'  %}" alt="right-arrow"></span>
                </div>
                <div class="faqs-info font-mid-medium">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi officia molestiae voluptates
                    voluptate iste consectetur, ab, totam accusamus quisquam sed molestias. Quae facere, maiores cum
                    consequuntur sequi ratione ducimus cupiditate similique id, ea, aperiam eos! Dolores exercitationem
                    voluptas hic autem eligendi odit accusantium laudantium omnis dignissimos eveniet consequatur eum
                    excepturi necessitatibus sint, iste harum mollitia nulla repudiandae nesciunt pariatur ad dicta?
                    Eveniet, modi voluptate quam hic eligendi quis eum laudantium quos, reprehenderit recusandae
                    architecto assumenda necessitatibus voluptates quo, debitis nam perspiciatis eius dignissimos at
                    accusantium nemo! Debitis obcaecati aut enim neque magnam suscipit, adipisci voluptates, magni
                    similique esse eveniet doloribus!
                </div>
            </div>
            <div class="faqs">
                <div class="faqs-div">
                    <div>
                        <span> <img src="{% static 'img/Forward-button.png' %}" alt="right-arrow">
                        </span>
                        <span class="font-we-medium font-mid-mid-medium">
                            How does NyaySarthi help in spreading Legal Awareness?
                        </span>
                    </div>
                    <span><img class="btn-rotate" src="{% static 'img/right-arrow.svg'  %}" alt="right-arrow"></span>
                </div>
                <div class="faqs-info font-mid-medium">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque maiores suscipit error
                    exercitationem autem ipsum laudantium labore rem ex aliquid, at incidunt. Aut, consectetur cumque
                    fugit, perferendis voluptates, laudantium quidem doloribus odio exercitationem porro enim maiores
                    mollitia quo nemo architecto. Reiciendis vitae maxime voluptatem numquam. Suscipit quibusdam eaque,
                    porro reiciendis quos ut nesciunt, est voluptatibus eum veniam nisi soluta quidem nobis quisquam
                    numquam fugit praesentium saepe. Quia, aliquid maiores impedit architecto vero fuga voluptas placeat
                    autem ducimus. Officia, quam nulla ea nesciunt quaerat autem rem quae, modi, illo assumenda porro.
                    Sint eius blanditiis velit sed, voluptatum nesciunt iusto aperiam perferendis!
                </div>
            </div>

        </section>

    </main>
    {% endblock main %}

    {% block script %}
    {% comment %}
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script> {% endcomment %}
    <script src="../static/js/script.js"></script>
    <script src="js/script.js"></script>
    {% endblock script %}

</body>

</html>